.main_padding
  %h3.listing-title Listing questions

  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Title
          %th Answer
          %th Option
          %th Assignment
          %th
          %th
          %th

      %tbody
        - @questions.each do |question|
          %tr
            %td= question.title
            %td= question.answer
            %td= question.option.values
            %td= question.assignment.name
            %td= link_to 'Show', assignment_questions_path, class: 'btn btn-primary btn-sm'
            / %td= link_to 'Edit', edit_assignment_question_path(@question), class: 'btn btn-secondary btn-sm'
            %td= link_to 'Destroy', assignment_questions_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'

  %br

  = link_to 'New Question', new_assignment_question_path, class: 'btn btn-success'
