.main_padding
  %p
    %b Title:
    = @question.title
  %p
    %b Answer:
    = @question.answer
  %p
    %b Option:
    = @question.option
  %p
    %b Assignment:
    = @question.assignment

  = link_to 'Edit', edit_assignment_question_path(@question), class: 'btn btn-primary'
  = link_to 'Back', assignment_questions_path, class: 'btn btn-secondary'
