%h1.main_padding.listing-title Listing assessments

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Question set
        %th Grade
        %th Assignment
        %th User
        %th
        %th
        %th

    %tbody
      - @assessments.each do |assessment|
        %tr
          %td= assessment.question_set
          %td= assessment.grade
          %td= assessment.assignment
          %td= assessment.user
          %td= link_to 'Show', assessment, class: 'btn btn-primary btn-sm'
          %td= link_to 'Edit', edit_assessment_path(assessment), class: 'btn btn-secondary btn-sm'
          %td= link_to 'Destroy', assessment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'

%br

= link_to 'New Assessment', new_assessment_path, class: 'btn btn-success'
