%p#notice= notice

%p
  %b Question set:
  = @assessment.question_set
%p
  %b Grade:
  = @assessment.grade
%p
  %b Assignment:
  = @assessment.assignment
%p
  %b User:
  = @assessment.user

= link_to 'Edit', edit_assessment_path(@assessment)
\|
= link_to 'Back', assessments_path
