.main_padding
  .alert.alert-info
    = notice

  %p
    %b Name:
    = @assignment.name
  %p
    %b Course:
    = @assignment.course

  .btn-group
    = link_to 'Edit', edit_assignment_path(@assignment), class: 'btn btn-primary'
    = link_to 'Back', assignments_path, class: 'btn btn-secondary'
