%footer.footer
  .container
    .row
      / About
      .col-lg-3.footer_col
        .footer_about
          .logo_container
            %a{:href => "#"}
              .logo_content.d-flex.flex-row.align-items-end.justify-content-start
                .logo_img
                  = image_tag('logo.png')
                .logo_text learn
          .footer_about_text
            %p Maecenas rutrum viverra sapien sed fermentum. Morbi tempor odio eget lacus tempus pulvinar.
          .footer_social
            %ul
              %li
                %a{:href => "#"}
                  %i.fa.fa-google-plus{"aria-hidden" => "true"}
              %li
                %a{:href => "#"}
                  %i.fa.fa-pinterest{"aria-hidden" => "true"}
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter{"aria-hidden" => "true"}
      .col-lg-3.footer_col
        .footer_links
          .footer_title Quick menu
          %ul.footer_list
            %li
              = link_to "home", root_path
            %li
              %a{:href => "about.html"} About us
            %li
              %a{:href => "#"} Testimonials
            %li
              %a{:href => "#"} Services
            %li
              = link_to "Contacts",contacts_path
            %li
              %a{:href => "#"} Facts
      .col-lg-3.footer_col
        .footer_links
          .footer_title Useful Links
          %ul.footer_list
            %li
              = link_to "courses",course_home_index_path
            %li
              %a{:href => "#"} Events
            %li
              %a{:href => "news.html"} News
            %li
              %a{:href => "#"} Teachers
            %li
              %a{:href => "#"} Links
            %li
              %a{:href => "#"} FAQ
      .col-lg-3.footer_col
        .footer_contact
          .footer_title Contact Us
          .footer_contact_info
            .footer_contact_item
              .footer_contact_title Address:
              .footer_contact_line 1481 Creekside Lane Avila Beach, CA 93424
            .footer_contact_item
              .footer_contact_title Phone:
              .footer_contact_line +53 345 7953 32453
            .footer_contact_item
              .footer_contact_title Email:
              .footer_contact_line yourmail@gmail.com

= javascript_include_tag 'js/jquery-3.2.1.min.js'
= javascript_include_tag 'styles/bootstrap4/popper.js'
= javascript_include_tag 'styles/bootstrap4/bootstrap.min.js'
= javascript_include_tag 'plugins/greensock/TweenMax.min.js'
= javascript_include_tag 'plugins/greensock/TimelineMax.min.js'
= javascript_include_tag 'plugins/scrollmagic/ScrollMagic.min.js'
= javascript_include_tag 'plugins/greensock/animation.gsap.min.js'
= javascript_include_tag 'plugins/greensock/ScrollToPlugin.min.js'
= javascript_include_tag 'plugins/OwlCarousel2-2.2.1/owl.carousel.js'
= javascript_include_tag 'plugins/easing/easing.js'
= javascript_include_tag 'plugins/video-js/video.min.js'
= javascript_include_tag 'plugins/video-js/Youtube.min.js'
= javascript_include_tag 'plugins/parallax-js-master/parallax.min.js'
= javascript_include_tag 'js/custom.js'
= javascript_include_tag 'js/courses.js'
= javascript_include_tag 'js/about.js'

