%h1.main_padding.listing-title Listing courses

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Description
        %th Fees
        %th Course type
        %th Duration
        %th Start date
        %th
        %th
        %th

    %tbody
      - @courses.each do |course|
        %tr
          %td= course.name
          %td= course.description
          %td= course.fees
          %td= course.course_type
          %td= course.duration
          %td= course.start_date
          %td= link_to 'Show', course, class: 'btn btn-primary btn-sm'
          %td= link_to 'Edit', edit_course_path(course), class: 'btn btn-secondary btn-sm'
          %td= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
          %td= link_to 'Add lesson', course_lessons_path(course_id: course.id), class: 'btn btn-info btn-sm'
          %td= link_to 'Add Assignment', assignments_path(course_id: course.id), class: 'btn btn-info btn-sm'


  = link_to 'Add new course',new_course_path, class: 'btn btn-primary btn-primary'
