%body.main_padding
  %section
    .container
      .row
        .col-sm-4
          = image_tag @course.image, size: "300x200"
        .col-sm-6
          %h2
            = @course.name
          %span
          %p
            %b Description:
            = @course.description
          %p
            %b Fees: $
            = @course.fees
          %p
            %b Duration:
            = @course.duration
          %p
            %b Start-Date:
            = @course.start_date.strftime("%Y-%m-%d")
          %p
            %ul.main_nav
              %li.active
                = link_to "Buy Now", root_path
          %p
