%p.main_padding#notice= notice

%p
  %b Name:
  = @course.name
%p
  %b Description:
  = @course.description
%p
  %b Fees:
  = @course.fees
%p
  %b Course type:
  = @course.course_type
%p
  %b Duration:
  = @course.duration
%p
  %b Start date:
  = @course.start_date

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
